; 지형 심리스 월드 파일
; seamless로 늘어선 맵파일명들과 몇가지 파라미터들을 정의한다.
;
;
; TILE_LENGTH=[타일길이]
; 정사각형 타일의 한쪽면의 길이. float단위이므로 실수(소수점 포함)로 지정할 수 있다.
;
; TILECOUNT_PER_SEGMENT=[세그먼트 당 타일갯수]
; 정사각형 형태로 이루어진 세그먼트의 한쪽면에 들어가는 타일 갯수.
; ( 예 4x4로 16개의 타일이 들어가는 세그먼트라면 4를 지정한다. )
;
; SEGMENTCOUNT_PER_MAP=[맵 당 세그먼트갯수]
; 정사각형 형태로 이루어진 맵의 한쪽면에 들어가는 세그먼트 갯수.
; ( 예 10x10로 100개의 세그먼트가 들어가는 맵이라면 10을 지정한다. )
;
; SETFOV=[FOV값]
; float단위이므로 실수(소수점 포함)로 지정할 수 있다.
; 0이나 0보다 작은 값을 입력할 경우 시스템 기본값으로 설정된다.
;
;
; MAPSIZE=[가로 갯수],[세로 갯수]
; 전체 맵들의 가로/세로로 늘어선 갯수
; MAPFILE 항목보다 앞서서 1번만 나와야 함. ( 그렇지 않으면 초기화에 실패한다. )
;
;
; MAPFILE=[X위치],[Y위치],[확장자를 제외한 맵 파일명]
; 좌표가 중복되면 초기화에 실패한다. 좌표는 좌측 하단이 (0,0)으로
; 상단으로 갈수록 Y좌표가, 우측으로 갈수록 X좌표가 증가한다.
;
;
;
; 예제>
;
; +--------+--------+--------+--------+
; |        |        |        |        |
; | f.nfm  | g.nfm  |        |        |
; |        |        |        |        |
; +--------+--------+--------+--------+
; |        |        |        |        |
; | e.nfm  |        |        |        |
; |        |        |        |        |
; +--------+--------+--------+--------+
; |        |        |        |        |
; | a.nfm  | b.nfm  | c.nfm  | d.nfm  |
; |        |        |        |        |
; +--------+--------+--------+--------+
;
; MAPSIZE=4,3
; MAPFILE=0,0,a
; MAPFILE=1,0,b
; MAPFILE=2,0,c
; MAPFILE=3,0,d
; MAPFILE=0,1,e
; MAPFILE=0,2,f
; MAPFILE=1,2,g
;
; 공백 문자(빈 칸)는 사용하지 말 것.
; 라인의 첫칸에 세미콜론( ; )을 사용하면 주석으로 처리된다.
;

TILE_LENGTH=42
TILECOUNT_PER_SEGMENT=6
SEGMENTCOUNT_PER_MAP=64

SETFOV=0.7

MAPLAYER=20

MAPSIZE=14,16





;=== [데바 필드] ==========================
MAPFILE=0,0,0,M000_000,10
; 라크시 (데바마을)

MAPFILE=7,9,0,M007_009,70900
; 상아탑

MAPFILE=7,8,0,M007_008,70800
; 라크시 필드, 벌목장

MAPFILE=8,9,0,M008_009,80900
; 리저드맨 서식지, 요정의 숲

MAPFILE=8,8,0,M008_008,80800
; 템플러 헤드쿼터/세이렌의 섬



;=== [기타] ==========================
MAPFILE=0,1,0,M000_001,100
; 테스트용 맵 1. 시연용 어쌔신 길드/ 7089 26155


MAPFILE=1,3,0,M001_003,10300
; 테스트용 맵 4/ 몬스터 이벤트 영역



MAPFILE=1,5,0,M001_005,10500
; 테스트용 맵 6/ 퀘스트 이벤트 영역

MAPFILE=1,6,0,M001_006,10600
; 


;=== [아수라 필드] ==========================
MAPFILE=6,3,0,M006_003,60300
; 늪지대

MAPFILE=7,3,0,M007_003,70300
; 카탄 마을

MAPFILE=6,4,0,M006_004,60400
; 사이라그 폐허, 어쌔신 길드

MAPFILE=7,4,0,M007_004,70400
; 마녀의 화형터 (카탄 북쪽언덕)

MAPFILE=8,3,0,M008_003,80300
; 잊혀진 포탈 




;=== [가이아 필드] ==========================
MAPFILE=8,5,0,M008_005,80500
; 월화의 공동묘지, 메마른 달빛의 유적

MAPFILE=8,4,0,M008_004,80400
; 사혼의 제단


MAPFILE=9,5,0,M009_005,90500
; 대나무숲, 제1 발모어 탄광

MAPFILE=9,4,0,M009_004,90400
; 호라이즌(마을)dhsmf





;=== [론도 필드] ==========================

MAPFILE=10,8,0,M010_008,100800
; 도시 유적 

MAPFILE=9,9,0,M009_009,90900
; 마레마을 마르두카 군락지 

MAPFILE=9,8,0,M009_008,90800
; 마레마을 마르두카 군락지

MAPFILE=10,7,0,M010_007,100700
; 칠흑의 숲

MAPFILE=9,7,0,M009_007,90700
; 칠흑의 숲

MAPFILE=9,6,0,M009_006,90600
; 푸른 갈대밭, 렌카 호수, 제2발모어 탄광

MAPFILE=8,7,0,M008_007,80700
; 팔미르 고원, 목장

MAPFILE=8,6,0,M008_006,80600
; 론도

MAPFILE=7,7,0,M007_007,70700
; 해안가

MAPFILE=7,6,0,M007_006,70600
; 침엽수림

MAPFILE=7,5,0,M007_005,70500
; 세리우 사막, 사막 유적, 오아시스

MAPFILE=6,5,0,M006_005,60500
; 단절의 장벽, 세리우 사막

MAPFILE=6,6,0,M006_006,60600
; 수정의 산

MAPFILE=5,6,0,M005_006,50600
; 수정의 산

MAPFILE=5,7,0,M005_007,50700
; 던전입구

;----------------------------------


MAPFILE=10,6,0,M010_006,100600
; 해안가

MAPFILE=10,5,0,M010_005,100500
; 해안가

MAPFILE=11,9,0,M011_009,110900
; 무저갱

;=== [잊혀진 신들의 섬] ==========================
MAPFILE=10,9,0,M010_009,100900

;=== [크리스마스 이벤트] ==========================
MAPFILE=1,10,0,M001_010,11000
MAPFILE=2,10,0,M002_010,21000
MAPFILE=3,10,0,M003_010,31000

; 해안가 
;=== [크레타 필드] ==========================
MAPFILE=5,5,0,M005_005,50500
; 사령의 숲



;=== [수련의 섬] ====================================
MAPFILE=10,3,0,M010_003,100300
; 수련의 섬 /18000 52000

MAPFILE=9,2,0,M009_002,90200
; 수련의 섬 주변바다1 / 8948 36025

MAPFILE=10,2,0,M010_002,100200
; 수련의 섬 주변바다2/ 25076 36025

MAPFILE=9,3,0,M009_003,90300
; 수련의 섬 주변바다4/ 8948 52153

MAPFILE=11,3,0,M011_003,110300
; 수련의 섬 주변바다5/ 41204 52153

MAPFILE=10,4,0,M010_004,100400
; 수련의 섬 주변바다6/ 41204 52153


MAPFILE=11,4,0,M011_004,110400
; 수련의 섬 주변바다7/ 41204 52153




;=== [던전 프로토타입] ====================================
MAPFILE=13,0,0,M013_000,130000

; 잃어버린 갱도<1

;=== [던전 프로토타입2] ====================================
MAPFILE=13,2,0,M013_002,130200

; 열사의 유적 

;=== [던전 프로토타입3] ====================================
MAPFILE=13,3,0,M013_003,130300

; 수정 계곡<1

;=== [ 가이아 상인연합 마을 ] ====================================
MAPFILE=13,1,0,M013_001,130100

; 시크루트

;=== [던전 프로토타입4] ====================================
MAPFILE=13,4,0,M013_004,130400

; 메마른 달 빛 유적<1


;=== [던전 프로토타입5] ====================================
MAPFILE=13,5,0,M013_005,130500

; 수정 계곡<2


;=== [던전 프로토타입6] ====================================
MAPFILE=13,6,0,M013_006,130600

; 잃어버린 갱도<2

;=== [던전 프로토타입7] ====================================
MAPFILE=13,7,0,M013_007,130700

; 메마른 달 빛 유적<2


;=== [던전 프로토타입8] ====================================
MAPFILE=13,8,0,M013_008,130800

; 팔미르 유적<1

;=== [던전 프로토타입9] ====================================
MAPFILE=13,9,0,M013_009,130900

; 팔미르 유적<2



;=== [던전 프로토타입12] ====================================
MAPFILE=12,7,0,M012_007,120700

; 엘 카시아


;=== [이벤트 던전1] ====================================
MAPFILE=12,0,0,M012_000,120000

; 나이트 메어1



;=== [이벤트 던전2] ====================================
MAPFILE=11,0,0,M011_000,110000

; 유령 마을1

;=== [이벤트 던전1-1] ====================================
MAPFILE=10,0,0,M010_000,100000

; 나이트 메어2



;=== [이벤트 던전2-1] ====================================
MAPFILE=9,0,0,M009_000,90000

; 유령 마을2

;=== [이벤트 던전2-1] ====================================
MAPFILE=7,0,0,M007_000,70000

; 유령 마을3

;=== [이벤트 던전] ====================================

MAPFILE=5,0,0,M005_000,50000
; 곰던전

;=== [고대인의 유적] ====================================
MAPFILE=12,11,0,M012_011,121100

;신규

;=== [실내 던전1] ====================================
MAPFILE=12,10,0,M012_010,121000

; 백룡의쉼터



;=== [실내 던전2] ====================================
MAPFILE=12,9,0,M012_009,120900

; 흑룡의 그늘


;=== [실내 던전3] ====================================
MAPFILE=12,8,0,M012_008,120800

; 사룡의 심장

;=== [실내 던전4] ====================================
MAPFILE=11,2,0,M011_002,110200

; 나비스 라미아


;=== [캐릭터 종족 창 시작지점] ==========================

MAPFILE=11,8,0,M011_008,110800
MAPFILE=11,7,0,M011_007,110700
MAPFILE=11,6,0,M011_006,110600



;=== [마리캣 마켓] ==========================

MAPFILE=12,4,0,M012_004,120400

; 마리캣 마켓


;=== [데스매치존 1] ====================================
MAPFILE=12,6,0,M012_006,120600

; 데스매치존 1-4랭크


;=== [데스매치존 2] ====================================
MAPFILE=12,5,0,M012_005,120500

; 데스매치존 5-8랭크



;=== [오르니토 경주장] ==========================

MAPFILE=12,3,0,M012_003,120300

; 오르니토 경주장


;=== [잃어버린 섬] ==========================

MAPFILE=5,8,0,M005_008,50800
MAPFILE=6,8,0,M006_008,60800
MAPFILE=6,7,0,M006_007,60700

; 잃어버린 섬



;=== [실내 던전5] ====================================
MAPFILE=12,2,0,M012_002,120200

; 숨겨진 팔미르 유적 제 1 실

;=== [실내 던전6] ====================================
MAPFILE=1,1,0,M001_001,10100

; 에스포에 던전

;=== [실내 던전7] ====================================
MAPFILE=11,01,0,M011_001,110100

; 숨겨진 엘 카시아

;=== [실내 던전8] ====================================
MAPFILE=10,1,0,M010_001,100100

; 숨겨진 백룡의 쉼터

;=== [실내 던전9] ====================================
MAPFILE=9,01,0,M009_001,90100

; 숨겨진 흑룡의 그늘

;=== [실내 던전10] ====================================
MAPFILE=8,01,0,M008_001,80100

; 숨겨진 사룡의 심장


;=== [실내 던전11] ====================================
MAPFILE=7,01,0,M007_001,70100

; 숨겨진 수정 계곡


;=== [실내 던전12] ====================================
MAPFILE=1,2,0,M001_002,10200

; 마스터 던전


;=== [실내 던전13] ====================================
MAPFILE=12,01,0,M012_001,120100

; 인스턴트 던전

;=== [실내 던전14] ====================================
MAPFILE=6,01,0,M006_001,60100

; 큐브릭던전

;=== [라마단기도실] ====================================
MAPFILE=1,0,0,M001_000,10000

; 라마단기도실


;=== [배틀아레나] ====================================
MAPFILE=4,5,0,M004_005,40500
; 배틀아레나 클래식/슬래터 2:2

MAPFILE=3,5,0,M003_005,30500
; 배틀아레나 클래식/슬래터 4:4

MAPFILE=2,5,0,M002_005,20500
; 배틀아레나 클래식/슬래터 8:8

MAPFILE=4,4,0,M004_004,40400
; 배틀아레나 클래식/슬래터 16:16

MAPFILE=3,4,0,M003_004,30400
; 배틀아레나 빙고 4:4

MAPFILE=2,4,0,M002_004,20400
; 배틀아레나 빙고 8:8

MAPFILE=1,4,0,M001_004,10400
; 배틀아레나 빙고 16:16

MAPFILE=2,3,0,M002_003,20300
; 배틀아레나 슬래터 연습맵

;=== [마스터클래스 전용 신규4종 던전] ====================================
MAPFILE=3,1,0,M003_001,30100
; 수정계곡 지하기지

MAPFILE=3,0,0,M003_000,30000
; 팔미르 유적 지하기지

MAPFILE=2,0,0,M002_000,20000
; 발모어 탄광 지하기지

MAPFILE=2,1,0,M002_001,20100
; 달빛 유적 지하기지

MAPFILE=2,2,0,M002_002,20200
; 숨겨진 던전

MAPFILE=2,6,0,M002_006,20600
; 지하감옥


MAPFILE=2,7,0,M002_007,20700
; 붉은거미서커스단 외부

MAPFILE=2,8,0,M002_008,20800
; 붉은거미서커스단 내부